<%- include("../common/header.ejs") %>
<%- include("../common/navbar.ejs") %>
    <li class="float-left"><a href="/host/account" class="decoration-0 block py-2 px-6 text-white transition-duration: 0.2s hover:bg-white hover:text-pink-500">Profile</a></li>
    <li class="float-left"><a href="/host/add-accomodation" class="decoration-0 block py-2 px-6 text-white transition-duration: 0.2s hover:bg-white hover:text-pink-500">Add new accomodation</a></li>
    <li class="float-left"><a href="/host/logout" class="decoration-0 block py-2 px-6 text-white transition-duration: 0.2s hover:bg-white hover:text-pink-500">Log out</a></li>
  </ul>
</nav>
<main class="w-full">
  <section class="w-full min-h-screen p-8">
    <h2 class="text-2xl text-pink-500 font-semibold ml-2"><%= pageTitle %></h2>
    <div class="mt-4 p-4 flex flex-col gap-4">
      <% if(accomodations.length > 0){ %>
        <% for(acc of accomodations){ %>
          <div class="w-3/4 h-48 mx-auto flex flex-row justify-start border-2 border-pink-600 rounded-2xl">
            <div class="w-1/4 h-full overflow-hidden" >
              <img src="/uploads/<%= acc.buildingImages[0] %>" alt="" class="card-image w-full max-h-full rounded-l-2xl">
            </div>
            <div class="card-body w-2/4 h-full px-4 py-3">
              <h4 class="text-xl text-pink-500 font-semibold"><%= acc.buildingName.charAt(0).toUpperCase() + acc.buildingName.slice(1) %> in <%= acc.addrDistrict %></h4>
              <h5 class="font-semibold mt-2">
                <%= acc.buildingType.charAt(0).toUpperCase() + acc.buildingType.slice(1) %>
              </h5>
              <p class="mt-2 text-slate-900">
                <%= acc.addrBuildingNumber + " " + acc.addrRoad + ", " + acc.addrTownVillage + ", " + acc.addrDistrict + ", " + acc.addrState + ", " + acc.addrCountry + ", " + acc.addrZipCode %>
              </p>
              <h5 class="font-semibold mt-2">
                <%= acc.contactNumber %>
              </h5>
              <p class="mt-2 font-semibold flex flex-row justify-between items-center">
                <span class="text-xl">
                  Rs.<%= acc.rent %> for 2 nights
                </span>
                <span class="">
                  ⭐<%= acc.rating %>
                </span>
              </p>
            </div>
            <div class="card-footer w-1/4 h-full px-4 flex flex-col justify-center items-center gap-3">
              <a href="/host/edit-accomodation?accRegdID=<%= acc.regdID %>" class="w-28 text-center bg-white text-pink-500 border-2 border-pink-500 font-semibold py-2 px-6">Edit </a>
              <form action="/host/delete-accomodation" method="post">
                <input type="hidden" name="accRegdID" value="<%= acc.regdID %>">
                <button type="submit" class="w-28 text-center bg-pink-500 text-white border-2 border-pink-500 font-semibold py-2 px-6">Delete</button>
              </form>
            </div>
          </div>
        <% } %>
      <% }else{ %>
        <h3 class="">no accomodation is yet registered!</h3>
      <% } %>
    </div>
  </section>
</main>

<% include("../common/footer.ejs") %>