<%- include("./header.ejs") %>
<%- include("./navbar.ejs") %>
    <li class="float-left"><a href="/services" class="decoration-0 block py-2 px-6 text-white transition-duration: 0.2s hover:bg-white hover:text-pink-500">Services</a></li>
    <% if(userType === "client"){ %>
      <li class="float-left"><a href="/host/signup" class="decoration-0 block py-2 px-6 text-white transition-duration: 0.2s hover:bg-white hover:text-pink-500">Become a host</a></li>
    <% } %>
    <% if(isLoggedIn === false){ %>
      <li class="float-left"><a href="/login" class="decoration-0 block py-2 px-6 text-white transition-duration: 0.2s hover:bg-white hover:text-pink-500">Log in or Sign up</a></li>
    <% }else{ %>
      <li class="float-left"><a href="<% if(userType === 'host'){ %>/host/logout<% }else if(userType === 'client'){ %>/logout<% }else{ %>/admin/logout<% } %>" class="decoration-0 block py-2 px-6 text-white transition-duration: 0.2s hover:bg-white hover:text-pink-500">Log out</a></li>
    <% } %>
  </ul>
</nav>
<main class="">
  <section class="">
    <h2 class=""><%= pageTitle %></h2>
    <div class="">
      <% if(accomodations.length > 0){ %>
        <% for(acc of accomodations){ %>
          <div class="card">
            <div class="card-header">
              <img src="" alt="" class="card-image">
            </div>
            <div class="card-body">
              <h4 class=""><%= acc.buildingType.charAt(0).toUpperCase() + acc.buildingType.slice(1) %> in <%= acc.addrDistrict %></h4>
              <p class="">
                <span class="">
                  Rs.<%= acc.rent %> for 2 nights
                </span>
                <span class="">
                  ⭐ <%= acc.rating %>
                </span>
              </p>
            </div>
            <div class="card-footer">
              <a href="" class="btn">Reserve</a>
            </div>
          </div>
        <% } %>
      <% }else{ %>
        <h3 class="">no accomodation is yet registered!</h3>
      <% } %>
    </div>
  </section>
</main>

<%- include("./footer.ejs") %>